<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Assignment 1 Cryptography</title>

    <link rel="stylesheet" type="text/css"
          href="{{ asset('bundles/assignment1cryptography/css/materialize.min.css') }}">
    <script src="{{ asset('bundles/assignment1cryptography/js/jquery-1.11.3.min.js') }}"></script>
    <script src="{{ asset('bundles/assignment1cryptography/js/materialize.min.js') }}"></script>
    <script src="{{ asset('bundles/assignment1cryptography/js/jquery.form.min.js') }}"></script>
    <script src="{{ asset('bundles/assignment1cryptography/js/FileSaver.min.js') }}"></script>

    <style type="text/css">
        @font-face {
            font-family: "Material-Design-Icons";
            font-style: normal;
            font-weight: normal;
            src: url("{{ asset('bundles/assignment1cryptography/font/material-design-icons/Material-Design-Icons.eot') }}") format("embedded-opentype"), url("{{ asset('bundles/assignment1cryptography/font/material-design-icons/Material-Design-Icons.woff') }}") format("woff"), url("{{ asset('bundles/assignment1cryptography/font/material-design-icons/Material-Design-Icons.ttf') }}") format("truetype"), url("{{ asset('bundles/assignment1cryptography/font/material-design-icons/Material-Design-Icons.svg') }}") format("svg");
        }

        .algorithm li {
            font-family: \"Material-Design-Icons\";
            text-decoration-color: white;
            font-size: 23px;
        }

        .algorithm li b {
            color: white;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row">

        <div class="col s12 algorithm">
            <ul class="tabs">
                <li class="tab col s3 waves-effect waves-light red"><a href="#des"><b>DES</b></a></li>
                <li class="tab col s3 waves-effect waves-light purple"><a href="#rsa"><b>RSA</b></a></li>
                <li class="tab col s3 waves-effect waves-light light-blue"><a href="#aes"><b>AES</b></a></li>
            </ul>
        </div>

        <div id="des" class="col s12">
            <div class="row">
                <div class="col s12">
                    <ul class="tabs ed">
                        <li class="tab col s3"><a href="#desEn">ENCRYPT</a></li>
                        <li class="tab col s3"><a href="#desDe">DECRYPT</a></li>
                    </ul>

                    <div id="desEn" class="col s12">
                        {% render controller("Assignment1CryptographyBundle:Default:desEn") %}
                    </div>

                    <div id="desDe" class="col s12">
                        {% render controller("Assignment1CryptographyBundle:Default:desDe") %}
                    </div>
                </div>
            </div>
        </div>

        <div id="rsa" class="col s12">
            <div class="row">
                <div class="col s12">
                    <ul class="tabs ed">
                        <li class="tab col s3"><a href="#rsaGenerate">GENERATE KEYS</a></li>
                        <li class="tab col s3"><a href="#rsaEn">ENCRYPT</a></li>
                        <li class="tab col s3"><a href="#rsaDe">DECRYPT</a></li>
                    </ul>

                    <div id="rsaGenerate" class="col s12">
                        {% render controller("Assignment1CryptographyBundle:Default:rsaCreateKey") %}
                    </div>

                    <div id="rsaEn" class="col s12">
                        {% render controller("Assignment1CryptographyBundle:Default:rsaEn") %}
                    </div>

                    <div id="rsaDe" class="col s12">
                        {% render controller("Assignment1CryptographyBundle:Default:rsaDe") %}
                    </div>
                </div>
            </div>
        </div>

        <div id="aes" class="col s12">
            <div class="row">
                <div class="col s12">
                    <ul class="tabs ed">
                        <li class="tab col s3"><a href="#aesEn">ENCRYPT</a></li>
                        <li class="tab col s3"><a href="#aesDe">DECRYPT</a></li>
                    </ul>

                    <div id="aesEn" class="col s12">
                        {% render controller("Assignment1CryptographyBundle:Default:aesEn") %}
                    </div>

                    <div id="aesDe" class="col s12">
                        {% render controller("Assignment1CryptographyBundle:Default:aesDe") %}
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<script>

    $(document).ready(function () {

    });

</script>

</body>
</html>