<div class="container center-align">

    {{ form_start(form,  { 'attr': { 'id':'des_encryption' } } ) }}
    <div class="row">
        <div class="input-field col s12">
            {{ form_widget(form.DesEnKey,  { 'attr': { 'class':'materialize-textarea' } } ) }}
            <label for="form_Key" style="font-size: 1.1em">Your private key</label>
        </div>
        <div class="file-field input-field col s12">
            <div class="btn waves-effect waves-light left red">
                <span>Load Key</span>
                <input id="des_encrypt_load" type="file" accept=".txt">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="file-field input-field col s12">
            <div class="btn red">
                <span>Upload File</span>
                {{ form_widget(form.DesEnFile) }}
            </div>
            <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            {{ form_widget(form.submit, { 'label': 'Encrypt',  'attr': { 'class':'waves-effect waves-light btn right red'} }) }}
        </div>
    </div>
    {{ form_end(form) }}

</div>

<div id="des_encryption_modal" class="modal">
    <div class="modal-content center-align">
        <h4>DES ENCRYPTION COMPLETE</h4>

        <p>MD5 HASH: <span id="des_encryption_hash"></span></p>
        <a id="des_encryption_path" class="waves-effect waves-green btn red">Download</a>
    </div>
    <div class="modal-footer">
        <a class=" modal-action modal-close waves-effect waves-green btn red">Close</a>
    </div>
</div>
<script>
    $('#des_encrypt_load').change(function () {
        if (this.files[0].type == "text/plain") {
            // generate a new FileReader object
            var reader = new FileReader();
            // inject an image with the src url
            reader.onload = function (event) {
                var data = event.target.result;
                $('#form_DesEnKey').val(data).trigger('autoresize');
                $("#des_encryption label[for='form_Key']").addClass('active');
            };
            reader.readAsText(this.files[0]);
        } else {
            Materialize.toast('Only accept plain text', 1000); // Wrong type
        }
    });
    $('#des_encryption').on('submit', function (e) {
        e.preventDefault();
        $(this).ajaxSubmit({
            success: desEncryptResponse
        });
    });
    function desEncryptResponse(jsonres, status, xhr, $form) {
        $("#des_encryption_hash").html(jsonres.hash);
        $("#des_encryption_path").attr("href", jsonres.path);
        $('#des_encryption_modal').openModal();

    }
</script>
